:host {
  display: block;
  width: 100%;
  background-color: cadetblue;
  footer {
    max-width: 1920px;
    margin: 0 auto;
    height: 70px;
    padding: 20px;
    font-size: 18px;
    color: white;
  }
}
